body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 1em
}
nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
}

html {
  --color-accent: oklch(80% 0.1 250);
  accent-color: var(--color-accent);
}


nav a {
  flex: 1;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  background: #f0f0f0;
  color: black;
}

nav a.current {
  background-color:oklch(70% 0.15 250);
  color: white;
  font-weight: bold;
  border-bottom: 4px solid var(--color-accent);
}
nav a:hover {
  background-color: oklch(90% 0.1 250);
  color: black;
  border-bottom: 4px solid var(--color-accent);
}
input,
textarea,
button {
  font: inherit;
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 2em 0;
    width: 100%;
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}